<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970972151037-smth64b7fa1gtjvp4odc9p8rncsg988l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970972151037-smth64b7fa1gtjvp4odc9p8rncsg988l</string>
	<key>API_KEY</key>
	<string>AIzaSyBPUuBkUFgGOl85DpHhxBPJSGsHc9mQVLI</string>
	<key>GCM_SENDER_ID</key>
	<string>970972151037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>slot.slot-machine-a1</string>
	<key>PROJECT_ID</key>
	<string>slot-machine-27c0f</string>
	<key>STORAGE_BUCKET</key>
	<string>slot-machine-27c0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970972151037:ios:ae3beb0fd06e0cbd7fd294</string>
</dict>
</plist>